[user]
	name = u10216038
	email = u10216038@gmail.com
[color]
    status = auto
    diff = auto
    branch = auto
[pager]
    status = true
[merge]
    tool = vimdiff
[core]
	excludesfile = /Users/u10216038/.gitignore_global
[alias]
    bh = branch
    st = status
    co = checkout
    ls = ls-files
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
